attrdict3              
autopep8               
colorama               
comtypes               
contourpy              
cycler                 
et-xmlfile             
fonttools              
greenlet               
jpholiday              
kiwisolver             
matplotlib             
MouseInfo              
mysql                  
mysql-connector-python 
mysqlclient            
numpy                  
openpyxl               
packaging              
pandas                 
Pillow                 
pip                    
protobuf               
PyAutoGUI              
pycodestyle            
PyGetWindow            
PyMsgBox               
pyparsing              
pyperclip              
PyRect                 
PyScreeze              
PySimpleGUI            
python-dateutil        
pytweening             
pytz                   
pywin32                
schedule               
setuptools             
six                    
SQLAlchemy             
tomli                  
tqdm                   
xlwings                